.title-xlg {
  font-size: 64px;
  line-height: 76.8px;
}

.title-lg {
  font-size: 54px;
  line-height: 64.8px;
}

.subtitle-xlg {
  font-size: 44px;
  line-height: 52, 8;
}

.subtitle-lg {
  font-size: 40px;
  line-height: 48pxpx;
}

.subtitle {
  font-size: 32px;
  line-height: 38pxpx;
}


.txt-regular {
  font-size:16px;
  line-height:28px;
}